body {
    padding: 25px;
    background-color: black;
    color: white;
    font-size: 25px;
}

#modosPantalla {
    float: left;
    display: block;
    position: relative;
}
#info {
    margin-top: 40px;
    display: block;
    position: relative;
}

#video {
    float: left;
    display: block;
    position: relative;
}

#botones {
    border-collapse: collapse;
    margin-right: 32em;
    display: block;
    position: relative;

}

#tabla {
    border-collapse: collapse;
    float: left;
    display: none;
    top: 78px;
    position: relative;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

th,td {
    border: 1px solid white;
    border-collapse: collapse;
    float: left;
    padding: 10px;
    position: relative;
}